.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppSection {
  margin-top: 15px;
}

.LanguageSectionField {
  margin-top: 10px;
}

.Clashes {
  margin-top: 20px;
  font-size: 14pt;
}

.ClashesMessage {
  float: left;
  text-align: left;
  color: #ff0000;
}

.Proposition {
  margin-top: 10px;
  border-bottom: 1px solid #808080;
}

.Formalization {
  margin-left: 7%;
}

.Error {
  float: left;
  text-align: left;
}

.ErrorMessage {
  color: #ff0000;
}

.ErrorHighlighted {
  background-color: #ffa07a;
}

.AddNewPropositionButton {
  float: right;
  margin-top: 15px;
  margin-bottom: 100px;
}

.AddFormalizationButton {
  float: right;
  margin-top: 5px;
  margin-bottom: 15px;
}

.SmallButton {
  float: right;
  margin-top: 5px;
}

.Label {
  float: left;
}
